.rating {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Adjusts the size of the stars */
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Adds space above the rating */
}

.rating span {
    margin-right: 4px; /* Adds space between stars */
}

.review-text {
    margin-left: 10px; /* Space between stars and review text */
    color: #666; /* Lighter color for the review text */
    font-size: 0.9rem; /* Smaller font size for the review text */
}
